<a href="https://colab.research.google.com/github/sajalf49/DS-AI_Assignments/blob/main/week1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1 Assignment — Orientation & Setup

**Name:** Sajal Farhan  
**Roll No:** 24  
**Assigned Project (by roll number last digit):** Credit Card Fraud Detection  

---

### Notebook Overview
This is my submission for **Week 1**. I have completed the following tasks:
- Confirmed my project assignment using my roll number.  
- Loaded the **Titanic dataset** (sample, 20 rows) and displayed the first 10 rows.

## 1) Project Selection

The project is assigned based on the **last digit** of my roll number:

```
1 → House Price Prediction
2 → Customer Churn Prediction
3 → Fake News Detection
4 → Credit Card Fraud Detection
5 → E-commerce Recommendation System
6 → Sentiment Analysis on Twitter Data
7 → Medical Diagnosis (Disease Prediction)
8 → Stock Price Forecasting
9 → Image-based Waste Classification
0 → Student Performance Prediction
```

My roll number is **24**, so the last digit is **4**.  
➡️ My assigned project is **Credit Card Fraud Detection**.

## 2) Assignment — Titanic Dataset

For Week 1, I was asked to load a dataset and show the first 10 rows.

Instead of Iris, I chose the **Titanic dataset**. Since I only need a sample for practice, I created a **Titanic dataset with 20 rows** inside this notebook.

In [ ]:
# Step 1: Confirm project based on roll number
roll_no = 24
last_digit = roll_no % 10

projects = {
    1: 'House Price Prediction',
    2: 'Customer Churn Prediction',
    3: 'Fake News Detection',
    4: 'Credit Card Fraud Detection',
    5: 'E-commerce Recommendation System',
    6: 'Sentiment Analysis on Twitter Data',
    7: 'Medical Diagnosis (Disease Prediction)',
    8: 'Stock Price Forecasting',
    9: 'Image-based Waste Classification',
    0: 'Student Performance Prediction'
}

project_assigned = projects[last_digit]

print(f"My Roll Number: {roll_no}")
print(f"Last Digit: {last_digit}")
print(f"My Assigned Project: {project_assigned}")

My Roll Number: 24
Last Digit: 4
My Assigned Project: Credit Card Fraud Detection

In [ ]:
# Step 2: Create Titanic dataset (20 rows)
import pandas as pd

data = {
    'PassengerId': list(range(1, 21)),
    'Survived':    [0,1,1,1,0,0,1,0,1,0,1,0,0,1,1,0,0,1,0,1],
    'Pclass':      [3,1,3,1,3,3,2,3,1,2,3,1,3,2,1,3,2,1,3,3],
    'Name': [
        'Braund, Mr. Owen Harris',
        'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
        'Heikkinen, Miss. Laina',
        'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
        'Allen, Mr. William Henry',
        'Moran, Mr. James',
        'McCarthy, Mr. Timothy J',
        'Palsson, Master. Gosta Leonard',
        'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
        'Nasser, Mrs. Nicholas (Adele Achem)',
        'Sandstrom, Miss. Marguerite',
        'Bonnell, Miss. Elizabeth',
        'Saundercock, Mr. William Henry',
        'Andersson, Mr. Anders Johan',
        'Vestrom, Miss. Hulda Amanda Adolfina',
        'Hewlett, Mrs. (Mary D Kingcome)',
        'Rice, Master. Eugene',
        'Williams, Mr. Charles Eugene',
        'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
        'Masselmani, Mrs. Fatima'
    ],
    'Sex': ['male','female','female','female','male','male','male','male','female','female',
            'female','female','male','male','female','female','male','male','female','female'],
    'Age': [22,38,26,35,35,27,54,2,27,14,4,58,20,39,14,55,2,34,31,45],
    'SibSp': [1,1,0,1,0,0,0,3,1,0,1,0,0,1,0,0,4,0,1,0],
    'Parch': [0,0,0,0,0,0,0,1,2,0,1,0,0,5,0,0,1,0,0,0],
    'Fare': [7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,
             16.7,26.55,8.05,31.275,7.8542,16.0,29.125,13.0,18.0,7.225]
}

df_titanic = pd.DataFrame(data)
df_titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,8.0500
5,6,0,3,"Moran, Mr. James",male,27,0,0,8.4583
6,7,1,2,"McCarthy, Mr. Timothy J",male,54,0,0,51.8625
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,21.0750
8,9,1,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,1,2,11.1333
9,10,0,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,0,0,30.0708

## 3) Conclusion

In Week 1, I:
- Identified my assigned project (**Credit Card Fraud Detection**).  
- Created and displayed the first 10 rows of a Titanic dataset sample.  

✅ Week 1 Assignment is complete.